body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Header Styles*/

header {
    position: fixed;
    max-height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;

}

.logo {
    display: flex;
    height: 50px;
    padding-left: 10px;
    flex-grow: 1;
}

header a { 
    text-decoration: underline;
}

/*header span {
    display: inline-flex;
}
  */
nav span {
    display: inline-block;
    padding: 20px 20px;
  }

/* Main Container Styles */
.main {
    height: 700px;
    width: 1200px;
    background-image: url("")
}

/* Gallery Container Styles */

/* Locations Container Styles */

/* Footer Styles */